<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>alogin</servlet-name>
        <servlet-class>alogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apanel</servlet-name>
        <servlet-class>apanel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view</servlet-name>
        <servlet-class>view</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sadd</servlet-name>
        <servlet-class>Sadd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Staffadd</servlet-name>
        <servlet-class>Staffadd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Supdate</servlet-name>
        <servlet-class>Supdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sview</servlet-name>
        <servlet-class>Sview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sdelete</servlet-name>
        <servlet-class>Sdelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emplogin</servlet-name>
        <servlet-class>emplogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cadd</servlet-name>
        <servlet-class>Cadd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cupdate</servlet-name>
        <servlet-class>cupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bill</servlet-name>
        <servlet-class>bill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>report</servlet-name>
        <servlet-class>report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>required_order</servlet-name>
        <servlet-class>required_order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aorderview</servlet-name>
        <servlet-class>Aorderview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancleorder</servlet-name>
        <servlet-class>cancleorder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptorder</servlet-name>
        <servlet-class>acceptorder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>alogin</servlet-name>
        <url-pattern>/alogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apanel</servlet-name>
        <url-pattern>/apanel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sadd</servlet-name>
        <url-pattern>/Sadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Staffadd</servlet-name>
        <url-pattern>/Staffadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Supdate</servlet-name>
        <url-pattern>/Supdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sview</servlet-name>
        <url-pattern>/Sview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sdelete</servlet-name>
        <url-pattern>/Sdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emplogin</servlet-name>
        <url-pattern>/emplogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cadd</servlet-name>
        <url-pattern>/Cadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cupdate</servlet-name>
        <url-pattern>/cupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bill</servlet-name>
        <url-pattern>/bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>report</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>required_order</servlet-name>
        <url-pattern>/required_order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aorderview</servlet-name>
        <url-pattern>/Aorderview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancleorder</servlet-name>
        <url-pattern>/cancleorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptorder</servlet-name>
        <url-pattern>/acceptorder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
